<% include partials/header.ejs %>

<div class="container">
    <h1> <%= course.title %></h1>
    <% if(currentUser && currentUser.isAdmin){ %>
    <a role="button" class="addbutton btn btn-default btn-info" href="<%= course._id %>/edit" style="margin-left: 0px;">Edit</a>
    <form action="/<%= subject.name %>/<%= course._id %>?_method=DELETE" method="POST">
        <button class="addbutton btn btn-default btn-danger" style="margin-left: 0px">Delete</button>
    </form>
    <% } %>
    <hr>

    <div id="lecturecontent"><%- course.content %></div>

    <br>
    <br>


    <p><strong>Comments</strong></p>
    <hr style="margin-top: 0px">

    <% comments.forEach(function(comment){ %>
    <div>
        <p
                <% if(comment.username == "AdministratorMTLChrisLEE"){ %>
                style="color: red"
                <% }else{ %>
                style="color: cornflowerblue"
                <% } %>
        ><strong><%= comment.username %></strong></p>
        <div><%- comment.content %></div>
        <% if((currentUser && currentUser.username==comment.username)||currentUser.isAdmin){ %>
        <form action="/<%= subject.name %>/<%= course._id %>/<%=comment._id%>?_method=DELETE" method="POST">
            <button class="addbutton btn btn-xs btn-danger" style="margin-left: 0px">Delete</button>
        </form>
        <% } %>

    </div>
    <hr size="20" style="border-top:1px dotted black">
    <% }) %>

    <form action="/<%= subject.name %>/<%= course._id %>/comment" method="POST">
        <div class="form-group">
            <input type="text" name="comment[username]" value="<%= currentUser.username %>" style="border: 0" readonly>
            <div id="wmd-button-bar"></div>
            <textarea id="wmd-input" name="comment[content]" class="wmd-input"
                      style="resize: none; width:970px; height:150px"></textarea>
        </div>
        <input class="btn btn-primary btn-md" value="Comment" type="submit">
    </form>

    <div class="form-group">
        <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
    </div>

</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Editor.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Sanitizer.js"></script>

<script>
    var converter = Markdown.getSanitizingConverter();
    var editor = new Markdown.Editor(converter);
    editor.run();
</script>


<% include partials/footer.ejs %>